
body{
    background-color: lightskyblue;
    padding: 100px 0 0 0;
    z-index: 0;
}
.navbar-dark{
    background-color: #512DAB;
}


footer{
    margin-bottom: 0;
    background-color: #118686;
}
footer h5{
    margin-top: 5px;
    width: max-content;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
}
.main{
    margin-top: 10px;
    background-color:#118686;
}

.nav-item{
    margin-right: 40px;
}
p{
    font-size: 24px;
    padding: 5%;
    color: lavender;
}
#abttxt h2{
    margin-top: 20px;
    font-size: 35px;
    color: hsla(150, 50%, 90%, 0.9);
}
#abttxt h3{
    width: 100px;
    margin-top:10px ;
    font-size: 30px;
    background-color: #33a7a7;
    border: 1px solid white;
    border-top-right-radius: 60px;
   
}
img{
    width: 100%;
    height: 400px;
    
    
}
.card{
    border: 2px solid black;
    border-radius: 20px;
}

a{
    color:black;
    text-transform: capitalize;
    text-decoration: none;
    
}
#contact h5:hover{
    width: min-content;
    background-color: #33a7a7;
    border: 2px solid blue;
    border-radius: 15px;
}
.note p{
    color: black;
}
.carousel {
    background:#118686;
}

.carousel-item {
  height: 250px;
}
@media (max-width:992px){
    .carousel-item img {
        position: absolute;
        top: 0;
        left: 10%;
        min-height: 250px;
        width: 80%;
    }
}
@media (min-width:992px){
    .carousel-item img {
        position: absolute;
        top: 0;
        left: 10%;
        min-height: 250px;
        width: 300px;
        opacity: 0.8;
    
    }
}
.carousel-caption h2{
    color: black;
    padding-left: 30%;
    font-weight: bold;
}
.carousel-caption p{
    color: black;
    font-weight: bold;
    padding-left: 30%;
    padding-right: 0;
    padding-top: 10px;
}
@media (min-width:768px){
    #fed{
        position: absolute;
        right: 10%;
    }
}

#cb{
    right: 0;
    position: absolute;
    bottom: 0;
}
table{
    width: 100%;
    height: 300px;
}
.tbody-dark{
    background-color: lightskyblue;
}
.body-dark{
    background-color: lightseagreen;
}
table th,td{
    text-align: center;
}